@import "tailwindcss";
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1f2937;
    color: white;
}

#tasklist::-webkit-scrollbar {
    display: none;
}
